# Folders
MatlabCode/all_data/
MatlabCode/out_models/
MatlabCode/results/results_models/*
MatlabCode/results/figs/*
MatlabCode/cache/
MatlabCode/results/*.tar.xz

# Out models, zips, tar and temporals
*.zip
*.tar.xz
*.m~
